.imgHeight {
  height: 180px;
  margin-bottom: 10px;
  padding: 5px;
  vertical-align: middle;
  overflow: hidden;
}
.imgHeight img {
  width: 100%;
  vertical-align: middle;
  height: auto;
}
.fontSmall {
  font-size: 14px;
}
